.chat {
  display: flex;
  flex-direction: column;
  flex: 0.7;
}
.chatheader {
  padding: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
}
.chatheaderinfo {
  flex: 1;
  padding-left: 20px;
}

.chatheaderinfo > h3 {
  margin-bottom: 3px;
  font-weight: 500;
}
.chatheaderinfo > p {
  color: gray;
}
.chatheaderright{
    display:flex;
    justify-content:space-between;
    min-width:100px;
}
.chatbody {
  background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
  flex: 1;
  background-repeat: repeat;
  background-position: center;
  padding: 30px;
  overflow: scroll;
}
.chatmessage {
  position: relative;
  font-size: 16px;
  padding: 10px;
  width: fit-content;
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 30px;
}
.chatreciever{
    margin-left:auto;
    background-color:#dcf8c6;
}
.chattimestamp {
  margin-left: 10px;
  font-size: xx-small;
}
.chatname {
  position: absolute;
  top: 0px;
  font-size: 10px;
  font-weight: 800;
  font-size: xx-small;
}
.chatfooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-top: 1px solid lightgray;
}
.chatfooter > form {
  flex: 1;
  display: flex;
}
.chatfooter > form > input {
  flex: 1;
  border-radius: 30px;
  padding: 10px;
  border: none;
}
.chatfooter > form > button {
  display: none;
}
.chatfooter > .MuiSvgIcon-root {
  padding: 10px;
  color: gray;
}
