.login{
    background-color: #b09d9d;
    height:100vh;
    width:100vw;
    display:grid;
    place-items:center;

}
.logincontainer{
    padding:70px;
    text-align:center;
    background-color:#fcfafc;
    border-radius: 10px;
    box-shadow:4px 3px 4px 2px rgba(0,0,0,0.12), 4px 3px 10px 3px;

}
.logincontainer > img{
    object-fit: contain;
    height:170px;
    margin-bottom:40px;
}
.logincontainer > button{
    margin-top:40px;
    text-transform: inherit !important;
    background-color:#b80736 !important;
    color:white;
}
.logintext {
    color:#6b276b;
    
}